<h1>All of your lists</h1>
<ul>
<% @lists.each do |list|%>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%=link_to list.name, list_path(list)%></h2>
    <p><%= list.description%></p>
  </div>
</div>

<%end%>
</ul>

<h3>Create a new list!</h3>
<p><%= link_to "create movie list", new_list_path%></p>
